<div class="quiz-view jumbotron">
  <br>
  <br>
  <h3 style="text-align: center"> Choose the correct option below</h3>
  <div id="questions_tab">
        <%= form_tag test_path, id: "question_form" , method: "post" do %>
            <% @questions.each_with_index do |question, index| %>
                <p id="question"> <%= question.name %> </p>
                <%= hidden_field "question[#{index}]", :id , value: question.id %>
                <% question.fetch_options.each do |option| %>
                    <%= radio_button_tag "question[#{index}][answer]" , option %> <%= option %><br/>
                <% end %>
            <% end %>
            <%= submit_tag "Submit", name: 'option', class: "btn btn-success btn-md" %>
        <% end %>
    </div>
</div>
