<div class="container custom-devise">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Registered user? Sign In</div>
        </div>

        <br>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= f.email_field :email, autofocus: true , class: "form-control", placeholder: "Email" %>
            </div>
          </div>

          <br>
          <div class="field">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <hr>
          <div class="actions">
            <%= f.submit "Log in", id: "btn-login", class: "btn btn-success btn-md" %>
          </div>
        <% end %>
      <br>
    </div>
  </div>
</div>
